body {
    background-image: linear-gradient(#e42c10,#b91608,#8e0000);
    color:rgb(255, 255, 255);
    font-size: 35px;
}

h1{
    color: #fff;
}

h2 {
    background-color: #e4012a;
    color: black;
}

img {
    width: 500px;
    height: 300px;
}