body {
    background-image: linear-gradient(#ffffff,#ff7a7a,#ff0000);
    color:rgb(0, 0, 0);
    font-size: 35px;
}

h1{
    color: #000000;
}

h2 {
    background-color: #0300b3;
    color: rgb(153, 153, 153);
}

img {
    width: 500px;
    height: 300px;
}