body {
    background-image: linear-gradient(#817979,#864343,#ff0000);
    color:rgb(255, 255, 255);
    font-size: 35px;
}

h1{
    color: #000000;
}

h2 {
    background-color: #0300b3;
    color: rgb(153, 153, 153);
}

img {
    width: 500px;
    height: 300px;
}